{block confirmModal}
	<div id="confirmModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p></p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn ajax modal-close" data-naja-history="off">{_forms.button.confirm}</a>
					<button type="button" class="btn white black-text modal-close">{_forms.button.close}</button>
				</div>
			</div>
		</div>
	</div>
{/block}
